@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.HideMe h1 {
  font-family: 'Poppins';
}

.HideMe button {
  background-color: #fe3756;
  border: 1px solid #fe3756;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  gap: 16px;
  color: #ffffff;
  width: 326px;
  height: 56px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.HideMe button:hover {
  cursor: pointer;
  background-color: tomato;
}
